name: ci

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    env:
      php: 8.4
      laravel: 12
      testbench: 10
      filament: 5
      livewire: 4
      pest: 4
      larastan: 3
      pint: 1

    name: Lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/composer/files
          key: dependencies-${{ env.laravel }}-php-${{ env.php }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: dependencies-${{ env.laravel }}-php-${{ env.php }}-composer-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.php }}
          extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
          coverage: none
          tools: composer:v2

      - name: Install dependencies
        run: |
          composer --version
          composer require "laravel/framework:${{ env.laravel }}.*" --no-interaction --no-update
          composer require "orchestra/testbench:${{ env.testbench }}.*" --no-interaction --no-update --dev
          composer require "filament/filament:${{ env.filament }}.*" --no-interaction --no-update
          composer require "livewire/livewire:${{ env.livewire }}.*" --no-interaction --no-update
          composer require "pestphp/pest:${{ env.pest }}.*" --no-interaction --no-update --dev
          composer require "pestphp/pest-plugin-laravel:${{ env.pest }}.*" --no-interaction --no-update --dev
          composer require "pestphp/pest-plugin-livewire:${{ env.pest }}.*" --no-interaction --no-update --dev
          composer require "larastan/larastan:${{ env.larastan }}.*" --no-interaction --no-update --dev
          composer require "laravel/pint:${{ env.pint }}.*" --no-interaction --no-update --dev
          composer update --prefer-dist --no-interaction
          composer dump

      - name: Pint (check styles)
        run: composer lint:check

  static-analysis:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    env:
      php: 8.4
      laravel: 12
      testbench: 10
      filament: 5
      livewire: 4
      pest: 4
      larastan: 3
      pint: 1

    name: Static Analysis
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/composer/files
          key: dependencies-${{ env.laravel }}-php-${{ env.php }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: dependencies-${{ env.laravel }}-php-${{ env.php }}-composer-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.php }}
          extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
          coverage: none
          tools: composer:v2

      - name: Install dependencies
        run: |
          composer --version
          composer require "laravel/framework:${{ env.laravel }}.*" --no-interaction --no-update
          composer require "orchestra/testbench:${{ env.testbench }}.*" --no-interaction --no-update --dev
          composer require "filament/filament:${{ env.filament }}.*" --no-interaction --no-update
          composer require "livewire/livewire:${{ env.livewire }}.*" --no-interaction --no-update
          composer require "pestphp/pest:${{ env.pest }}.*" --no-interaction --no-update --dev
          composer require "pestphp/pest-plugin-laravel:${{ env.pest }}.*" --no-interaction --no-update --dev
          composer require "pestphp/pest-plugin-livewire:${{ env.pest }}.*" --no-interaction --no-update --dev
          composer require "larastan/larastan:${{ env.larastan }}.*" --no-interaction --no-update --dev
          composer require "laravel/pint:${{ env.pint }}.*" --no-interaction --no-update --dev
          composer update --prefer-dist --no-interaction --no-suggest --dev
          composer dump

      - name: Run Larastan
        run: composer static-analysis

  tests:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    needs: [lint, static-analysis]

    strategy:
      fail-fast: true
      matrix:
        php: [8.3, 8.4]
        laravel: [11, 12]
        filament: [4, 5]
        exclude:
          - laravel: 11
            filament: 5
        include:
          - laravel: 11
            testbench: 9
            larastan: 3
            pint: 1
          - laravel: 12
            testbench: 10
            larastan: 3
            pint: 1
          - filament: 4
            livewire: 3
            pest: 3
          - filament: 5
            livewire: 4
            pest: 4

    name: Tests - PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }} - Filament ${{ matrix.filament }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/composer/files
          key: dependencies-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: dependencies-${{ matrix.laravel }}-php-${{ matrix.php }}-composer-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
          coverage: none
          tools: composer:v2

      - name: Install dependencies
        run: |
          composer --version
          composer require "laravel/framework:${{ matrix.laravel }}.*" --no-interaction --no-update
          composer require "orchestra/testbench:${{ matrix.testbench }}.*" --no-interaction --no-update --dev
          composer require "filament/filament:${{ matrix.filament }}.*" --no-interaction --no-update
          composer require "livewire/livewire:${{ matrix.livewire }}.*" --no-interaction --no-update
          composer require "pestphp/pest:${{ matrix.pest }}.*" --no-interaction --no-update --dev
          composer require "pestphp/pest-plugin-laravel:${{ matrix.pest }}.*" --no-interaction --no-update --dev
          composer require "pestphp/pest-plugin-livewire:${{ matrix.pest }}.*" --no-interaction --no-update --dev
          composer require "larastan/larastan:${{ matrix.larastan }}.*" --no-interaction --no-update --dev
          composer require "laravel/pint:${{ matrix.pint }}.*" --no-interaction --no-update --dev
          composer update --prefer-dist --no-interaction --no-suggest --dev
          composer dump

      - name: Setup SQLite Database
        run: php vendor/bin/testbench package:create-sqlite-db

      - name: Execute tests
        run: vendor/bin/pest
        env:
          DB_CONNECTION: sqlite
